<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TXT_LOGIN_BUTTON_LOGIN</key>
	<string>Login</string>
	<key>TXT_LOGIN_BUTTON_REGISTER</key>
	<string>Want to create a new account?</string>
	<key>TXT_LOGIN_PHOLDER_PASSWORD</key>
	<string>Password</string>
	<key>TXT_LOGIN_PHOLDER_USER_EMAIL</key>
	<string>User email</string>
	<key>TXT_LOGIN_DESC_USER_EMAIL</key>
	<string>EMail: %@</string>
	<key>TXT_LOGIN_DESC_USER_PASSWORD</key>
	<string>Password: %@</string>
	<key>TXT_LOGIN_TITLE</key>
	<string>DUTCH</string>
	<key>TXT_LOGIN_AUTOLOGIN</key>
	<string>Auto Login</string>
	<key>TXT_REGISTER_PHOLDER_USER_EMAIL</key>
	<string>User email</string>
	<key>TXT_REGISTER_TITLE</key>
	<string>Register</string>
	<key>TXT_REGISTER_SECTION_TITLE</key>
	<string>Info</string>
	<key>TXT_REGISTER_PHOLDER_USER_NAME</key>
	<string>Name</string>
	<key>TXT_REGISTER_PHOLDER_PASSWORD</key>
	<string>Password</string>
	<key>TXT_REGISTER_PHOLDER_PASSWORD_CONFIRM</key>
	<string>Confirm Password</string>
	<key>TXT_REGISTER_DESC_USER_EMAIL</key>
	<string>EMail: %@</string>
	<key>TXT_REGISTER_DESC_USER_NAME</key>
	<string>Name: %@</string>
	<key>TXT_HOME_TITLE</key>
	<string>Home</string>
	<key>TXT_OK</key>
	<string>Ok</string>
	<key>TXT_CANCEL</key>
	<string>Cancel</string>
	<key>TXT_NAME</key>
	<string>Name:%@</string>
	<key>TXT_EXPENSE_DATE</key>
	<string>Date:%@</string>
	<key>TXT_EXPENSE_TOTAL_AMOUNT</key>
	<string>Total:%@</string>
	<key>TXT_EXPENSE_NAME_PHOLDER</key>
	<string>Enter name for expense</string>
	<key>TXT_EXPENSE_DATE_PHOLDER</key>
	<string>Enter date of expense</string>
	<key>TXT_EXPENSE_TOTAL_AMOUNT_PHOLDER</key>
	<string>Enter total amount of expense</string>
	<key>VERSION</key>
	<string>6</string>
</dict>
</plist>
